
mat-error {
    font-size: 14px;
    color: #d32f2f;
    display: block;
    white-space: normal;
    word-break: break-word;
    width: 100%;
    padding-top: 4px; 
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .mat-mdc-form-field-error-wrapper {
    display: block !important;
  }
  
  .mat-mdc-form-field {
    min-height: 70px;
  }